addDefaultCharset utf8
# шпаргалка  по .htaccess сайт для взятия шаблонов
RewriteEngine on
#Включаем модуль mod_rewrite для монипуляции адресами измениение URL


# правила запроса директории
#RewriteRule <regexp- регулярное выражение(^(.*)$)><path- путь(index.php?param=$1)>[flags -флаг[QSA,L]]
RewriteRule ^(.*)$ /public/$1 [QSA,L]
# (перенаправляется в папку public
# L - прекратить дальнейшее применение
# QSA - передать как часть строки запроса
# NC - задаёт чувствительность к регистру для линукса обязательно

